/** GENERAL **/
:root {
    --primary-color: rgb(63,81,181);
    --primary-color-content: #FFFFFF;
    --outline-color: rgba(0, 0, 0, 0.2);
    --subtext-color: rgba(0, 0, 0, 0.8);

    --space-unit: 10px;
    --body-font-size: 14px;
    --round-corners: 4px;

    --top-element-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.6);
    --shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}
* {
    font-family: 'Roboto', sans-serif;
}
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: var(--body-font-size, 14px);
}
*:focus {
    outline: none;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 0.5px;
}
a, a * {
    color: inherit;
    text-decoration: none;

}

/** ELEMENTS **/
.full-screen {
    width: 100vw;
    height: 100vh;
}
.flex-container {
    display: flex;
    align-items: center;
}
.flex-centered {
    justify-content: center;
}
.flex-spread {
    justify-content: space-between;
}
.spacer {
    flex-grow: 1;
}
section.header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: var(--top-element-shadow);
    z-index: 10;
}
section.header .header-content {
    width: calc(100% - var(--space-unit, 10px) * 4);
}
section.main {
    margin-top: calc(var(--space-unit, 10px) * 4 + 2em);
    margin-bottom: var(--space-unit, 10px);
    padding: var(--space-unit, 10px) calc(var(--space-unit, 10px) * 2);
}
.hidden {
    display: none;
}
@media all and (min-width: 768px) {
    .show-on-mobile {
        display: none;
    }
}
@media all and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

/** COMPONENTS **/
.subtitle {
    color: var(--subtext-color);
    margin: 0;
}
input {
    padding: var(--space-unit, 10px) calc(var(--space-unit, 10px) * 2);
    border: 1px solid var(--outline-color, rgba(0, 0, 0, 0.2));
}
.btn {
    padding: var(--space-unit, 10px) calc(var(--space-unit, 10px) * 2);
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}
.primary-btn {
    border-color: var(--primary-color, #FF6600) !important;
    background-color: var(--primary-color, #FF6600);
    color: var(--primary-color-content, #FFFFFF);
}
.primary-toolbar {
    background-color: var(--primary-color, #FF6600);
    padding: calc(var(--space-unit, 10px) * 1.5) calc(var(--space-unit, 10px) * 2);
    color: var(--primary-color-content, #FFFFFF);
}